@import url(/node_modules/modern-normalize/modern-normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap');

:root{
    --color-bg: rgb(238, 228, 215);
    --color-main: rgb(247, 242, 234);
    --color-shadow:rgba(83, 74, 68, 0.2);
    --color-divider:rgba(97, 69, 57,0.5);
    --color-dark:rgb(70, 34, 11);
    --color-item-darker:rgba(83, 74, 68, 0.1);

    --shadow:var(--color-shadow) 0px 0px 7px;
}

*{
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: "Smooch Sans", serif;
    font-weight: 600;
}

*::-webkit-scrollbar{
    display: none;
}

body{
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--color-dark);
    background-color: rgb(48, 44, 38);
}

header, footer{
    height: 60px;
    width: 100%;
    background-color: var(--color-main);
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow:var(--shadow);
}

header{
    display: flex;
    z-index: 100;
}

header .headerContainer{
    display: grid;
    width:min(800px, 95%);
    grid-template-columns: 200px 1fr 200px;
}

.logo{
    grid-column: 2 / 3;
    font-family: "Playwrite IN", serif;
    font-size: 2rem;
    font-weight: 800;
    cursor:pointer;
}

.nav{
    grid-column: 3 / 4;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.navItem{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    cursor:pointer;
    opacity: 0.8;
    transition: 0.5s allow-discrete;
}

.navItem:hover{
    opacity: 1;
    transform: scale(1.2);
}

.navItem.active{
    text-decoration: underline;
    opacity: 1;
    transform: scale(1.2);
}

footer{
    display: flex;
    z-index: 100;
}

content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
    width:min(800px, 100%);
    flex: 1;
    height: 100%;
    background-color: var(--color-bg);
    z-index: 90;
}

.menu, .main, .about, .contact{
    width: 100%;
    transform: translateY(0px);
    transition: 1s allow-discrete;
}

.menu{
    display: grid;
    width: 100%;
    gap: 4rem;
    opacity: 1;
}

@starting-style{
    .menu, .main, .about, .contact{
        transform: translateY(500px);
        opacity:0;
    }
}

.menu .category{
    font-size: 2rem;
    text-align: center;
}

.menuItem{
    height: 80px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 2fr 1fr;
    box-shadow: inset var(--color-divider) 0px -2px;
    text-align: start;
    padding: 1rem;
    margin-top:1rem;
}

.menuItem .title{   
    font-size: 2rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    opacity: 0.7;
}

.menuItem .desc{
    font-size: 1.2rem;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    opacity: 0.5;
}

.menuItem .price{
    font-size: 1.6rem;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    text-align: end;
    opacity: 0.7;
}

.menuItem.darker{
    background-color: var(--color-item-darker);
}

.contactContainer{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1.5rem) 5fr;
    height: 100%;
    gap: 0.2rem;
}

.contact .name{
    grid-column: 1 / 2;
    
}

.contact .address{
    grid-column: 1 / 2;
    background-color: var(--color-item-darker);
}

.contact .phone{
    grid-column: 1 / 2;
}

.contact .email{
    grid-column: 1 / 2;
    background-color: var(--color-item-darker);
}

.contact .map{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 1 / 6;
    background-color: var(--color-item-darker);
    width: 100%;
    min-height: 300px;
}

i{
    padding: 0.3rem;
}

h1{
    font-style: italic;
}

@media (max-width: 790px){
    header{
        height: 100px;
    }
    .headerContainer{
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-top: 0.5rem;
    }
    .nav{
        display: flex;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
    .logo{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        font-size: min(2rem, 10vw);
    }

    .contact .map{
        grid-column: 1 / 3;
        grid-row: 5 / 6;
    }
}